// variables for pokedex section
$pokedex-width: 400px;
$pokedex-background: red;
$min-radius: 5px;
$min-padding: 10px;

$primary-color: #fff;
$color-grey:rgb(241 242 242);
$color-red:rgb(163, 36, 36);
$color-black:rgb(34 31 31);
$color-yellow:  rgb(252 237 0);
$color-green: rgb(0 175 84);
$textbox-background: green;
$btn-Next-color: rgb(1 168 158);
$btn-prev-color: grey;

// dots large outline
$blue-bulb-inner: rgb(0 174 239);
$blue-bulb-outer: rgb(244 242 242);
$default-radius: 50%;

$large-circle-height: 40px;
$large-circle-width: 30px;

$small-circle-height: 10px;
$small-circle-width: 10px;

// pokemon button width
$pokedex-btn: 48%;
///////////////////////////////////////////////////
/// 
/// 

// pokemon cover ///////////////////////////
$default-width:80%;
$text-default:1.2rem;
$pokedex-cover-width: 60%;
$negative-padding-top: -90px;
$cover-padding: 20px;

/// btn width////
$cover-btn-width: 50%;
$cover-btn-height: 150px;
$color-mid-grey: #a4a4a4;
$btn-color-blue:rgb(37, 150, 190);


///pokemon card 
$card-base-width:30%;
$card-img-width:80%;
$card-margin:5%;
$card-font-size:2rem;
$card-font-weight:500;
$card-padding-bottom: 1rem;

// navbar variables
$navbar-content-btn-gap: 25px;
$navabar-btn-padding: 10px;
$navbar-btn-radius:10px;
$navbar-home-btn-margin:0;
$navbar-home-btn-top: 50%;



